@charset "utf8";
/* 滚动加载 */
.scroll-load {
  display: none;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}
.scroll-load .load-main {
  position: initial;
  margin-bottom: 10px;
}
.scroll-load.show {
  display: block;
}
.main-tip {
  padding: 15px;
  font-size: 16px;
}
/* 五角星 */
.veiles-start,
.veiles-start:before,
.veiles-start:after {
  position: absolute;
  width: 0;
  height: 0;
}
.veiles-start {
  border-right: 100px solid transparent;
  border-bottom-width: 70px;
  border-bottom-style: solid;
  border-bottom-color: green;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(0.12);
  z-index: 999999;
  animation: fade .6s linear forwards;
}
.veiles-start:before {
  content: '';
  top: -45px;
  left: -65px;
  border-right: 30px solid transparent;
  border-bottom-width: 80px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  border-left: 30px solid transparent;
  transform: rotate(-35deg);
}
.veiles-start:after {
  content: '';
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom-width: 70px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
}
/* alone */
.main-alone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
}
.alone {
  position: relative;
  width: 29.5%;
  margin: 0 0 15px;
  padding: 10px;
  border: 1px solid #f3eeee;
  align-content: flex-start;
}
.alone::before,
.alone::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  transition: .5s;
}
.alone::before {
  animation: before 6s linear infinite;
}
.alone::after {
  animation: after 6s linear infinite;
}
.alone img,
.alone p {
  position: relative;
  z-index: 1;
}
.alone img {
  width: 100%;
  height: auto;
}
.alone p {
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes fade {
  form {
    opacity: 1;
    transform: rotate(35deg) scale(0.12);
  }
  to {
    opacity: 0;
    transform: rotate(35deg) scale(0.2);
  }
}
@keyframes before {
  0% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: red;
    border-width: 1px 0 0 0;
  }
  25% {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    border-color: orange;
    border-width: 0 1px 0 0;
  }
  50% {
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-color: yellow;
    border-width: 0 0 1px 0;
  }
  75% {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-color: cyan;
    border-width: 0 0 0 1px;
  }
  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: pink;
    border-width: 1px 0 0 0;
  }
}
@keyframes after {
  0% {
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0 0 1px 0;
    border-color: blue;
  }
  25% {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-width: 0 0 0 1px;
    border-color: purple;
  }
  50% {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 1px 0 0 0;
    border-color: pink;
  }
  75% {
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-width: 0 1px 0 0;
    border-color: gray;
  }
  100% {
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0 0 1px 0;
    border-color: #ff3300;
  }
}
@media screen and (min-width: 1200px) {
  #main {
    margin-top: 20px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .main-left {
    width: 11.2rem;
    height: 100%;
    margin-left: 0;
    box-shadow: 0px 0px 8px 6px #ddd;
    background-color: #fff;
  }
  .main-left .text {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0.2rem;
    border-bottom: 1px solid #eaeaea;
  }
  .main-left .text .img {
    width: 2.93333333rem;
    height: 2rem;
    margin-left: 0;
    border: 1px solid #eee;
    border-radius: 2px;
    overflow: hidden;
  }
  .main-left .text .img img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .5s;
  }
  .main-left .text .img:hover img {
    transform: scale(1.15);
  }
  .main-left .text .info {
    position: relative;
    width: 7.6rem;
    margin-right: 0;
    color: #666;
    font-size: 14px;
  }
  .main-left .text .info h2 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-left .text .info h2 span {
    position: relative;
    margin-right: 10px;
    padding: 2px 6px;
    background-color: #61b3e6;
    color: #fff;
  }
  .main-left .text .info h2 span::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -8px;
    width: 0;
    height: 0;
    margin: auto 0;
    border: 4px solid transparent;
    border-left-color: #61b3e6;
  }
  .main-left .text .info h2 a {
    color: #333;
    transform: rotate(0deg);
    transition: color .5s,transform .5s;
  }
  .main-left .text .info h2 a:hover {
    color: #61b3e6;
    transform: translate(10px);
  }
  .main-left .text .info h3 {
    display: -webkit-box;
    margin-top: 10px;
    line-height: 26px;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    box-orient: vertical;
    overflow: hidden;
  }
  .read-more,
  .main-left .text .info p {
    position: absolute;
    bottom: 0px;
  }
  .read-more {
    color: #777;
    right: 0;
  }
  .read-more i {
    padding-left: 5px;
    color: #333;
    font-size: 12px;
  }
  .read-more:hover {
    color: #333;
  }
  .main-left .text .info p {
    left: 0;
  }
  .main-left .text .info p i {
    margin-right: 4px;
  }
  .main-left .text::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 0;
    height: 1px;
    background-color: #61b3e6;
    transition: width .5s;
  }
  .main-left .text:hover::after {
    width: 100%;
  }
  /* 右侧 */
  .main-right {
    width: 4.53333333rem;
    height: 100%;
    margin-right: 0;
  }
  .main-right .column {
    box-shadow: 0px 0px 8px 6px #ddd;
    background-color: #fff;
  }
  .main-right .column .column-title {
    padding: 10px 0;
    border-bottom: 1px solid #efefe3;
    color: #5e5e5e;
    font-size: 18px;
    font-weight: bold;
  }
  .main-right .column .column-title i {
    padding: 0 5px 0 15px;
    color: #61b3e6;
    font-weight: normal;
  }
  .main-right .column ul {
    padding: 6px 15px;
    font-size: 16px;
  }
  .main-right .column ul li {
    display: flex;
    align-items: center;
    padding: 6px 0;
  }
  .main-right .column ul li em {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #ccc;
    text-align: center;
    color: #fff;
    vertical-align: middle;
  }
  .main-right .column ul li:nth-child(1) em {
    background-color: #ff5ee6;
  }
  .main-right .column ul li:nth-child(2) em {
    background-color: #4bec99;
  }
  .main-right .column ul li:nth-child(3) em {
    background-color: #61b3e6;
  }
  .main-right .column ul li a {
    display: inline-block;
    max-width: 3.33333333rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    transition: transform .5s;
  }
  .main-right .column ul li a:hover {
    color: #61b3e6;
    transform: translate(10px);
  }
  /* 热点文章 */
  .colHot {
    margin-top: 20px;
  }
  /* 最新评论 */
  .main-right .column.colCom ul li {
    margin-bottom: 6px;
    border-bottom: 1px dashed #e9eaed;
    align-items: inherit;
  }
  .colCom li img {
    margin-right: 10px;
    border-radius: 4px;
  }
  .colCom li div {
    width: calc(86%);
    text-align: justify;
    text-align-last: left;
  }
  .colCom li p,
  .colCom li a {
    line-height: 20px;
    padding-top: 4px;
  }
  .colCom li p {
    color: #666;
    font-size: 14px;
  }
  .colCom li img:hover {
    opacity: .9;
  }
  /* 友情链接 */
  .colLinks ul::after {
    display: block;
    content: '';
    clear: both;
  }
  .colLinks li {
    float: left;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .colLinks li i {
    color: #61b3e6;
    font-size: 14px;
  }
}
@media screen and (max-width: 1199px) {
  #main {
    margin-top: 25px;
    transition: transform .5s;
  }
  .main-left {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  #main .text {
    float: left;
    width: 32%;
    margin-bottom: 1.8%;
    box-sizing: border-box;
    background-color: #fff;
  }
  #main .text:nth-child(3n + 2) {
    margin-left: 2%;
    margin-right: 2%;
  }
  #main .text .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bdbbbb;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
  }
  #main .text .img img {
    width: 100%;
    min-width: 220px;
    height: inherit;
  }
  .main-left .text .info {
    font-size: 14px;
  }
  .main-left .text .info h2 {
    margin: 14px 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main-left .text .info h2 span {
    position: relative;
    margin-right: 10px;
    padding: 2px 6px;
    background-color: #61b3e6;
    color: #fff;
    font-size: 16px;
  }
  .main-left .text .info h2 span::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -8px;
    width: 0;
    height: 0;
    margin: auto 0;
    border: 4px solid transparent;
    border-left-color: #61b3e6;
  }
  .main-left .text .info h2 a {
    color: #333;
    font-size: 20px;
    transition: color .5s;
  }
  .main-left .text .info h2 a:hover {
    color: #61b3e6;
  }
  .main-left .text .info h3 {
    display: -webkit-box;
    margin: 10px 0 14px;
    min-height: 48px;
    line-height: 26px;
    font-size: 18px;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    overflow: hidden;
  }
  .main-left .read-more {
    display: none;
  }
  .main-left .read-more i {
    padding-left: 5px;
    color: #333;
    font-size: 12px;
  }
  .read-more:hover {
    color: #333;
  }
  .main-left .text .info p {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  .main-left .text .info p span {
    color: #666;
    vertical-align: middle;
  }
  .main-left .text .info p i {
    margin-right: 4px;
    font-size: 16px;
  }
  .main-left .text .info .like {
    display: none;
    cursor: pointer;
  }
  .main-container {
    padding: 10px;
  }
  .main-alone,
  .main-cont {
    padding: 0.26666667rem;
  }
  /* 右侧 */
  .main-right {
    position: relative;
    height: 100%;
    margin-top: 0.26666667rem;
    padding-top: 1.33333333rem;
  }
  .main-right .column {
    padding: 0.26666667rem;
    box-sizing: border-box;
    background-color: #fff;
  }
  .main-right .column .column-title {
    padding: 10px 0;
    border-bottom: 1px solid #efefe3;
    color: #5e5e5e;
    font-size: 18px;
    font-weight: bold;
  }
  .main-right .column .column-title i {
    padding: 0 5px 0 15px;
    color: #61b3e6;
    font-weight: normal;
  }
  .main-right .column ul {
    padding: 6px 0;
    font-size: 16px;
  }
  .main-right .column ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
  }
  .main-right .column ul li em {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #ccc;
    text-align: center;
    color: #fff;
    vertical-align: middle;
  }
  .main-right .column ul li:nth-child(1) em {
    background-color: #ff5ee6;
  }
  .main-right .column ul li:nth-child(2) em {
    background-color: #4bec99;
  }
  .main-right .column ul li:nth-child(3) em {
    background-color: #61b3e6;
  }
  .main-right .column ul li a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
  .main-right .column ul li i.veils-icon {
    margin-left: 10px;
  }
  /* 热点文章 */
  .colHot {
    margin-top: 20px;
  }
  /* 最新评论 */
  .main-right .column.colCom ul li {
    margin-bottom: 6px;
    border-bottom: 1px dashed #e9eaed;
    align-items: inherit;
  }
  .colCom li img {
    margin-right: 10px;
    border-radius: 4px;
  }
  .colCom li div {
    width: calc(86%);
    text-align: justify;
    text-align-last: left;
  }
  .colCom li p,
  .colCom li a {
    line-height: 20px;
    padding-top: 4px;
  }
  .colCom li p {
    color: #666;
    font-size: 14px;
  }
  .colCom li img:hover {
    opacity: .9;
  }
  /* 友情链接 */
  .colLinks {
    display: none;
  }
  /* 分割 */
  .main-param {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.8rem;
    background-image: url(./layout/image/param.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  #main .text .img {
    height: 201px;
    max-height: 201px;
  }
  .main-left .text .info span:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  #main .text {
    width: 100%;
  }
  #main .text:nth-child(3n + 2) {
    margin-left: 0;
  }
  #main .text .img img {
    width: 100%;
  }
  .alone {
    width: 100%;
  }
}
